{{!-- {{content}} - {{name}} --}}
<div class="row">
    <div class="col s12" style="height:auto">
      <div class="card white z-depth-4">
        <div class="card-content white">
          <p class="card-title blue-gray-text">{{content}}</>
        </div>
        <div class="card-action display-flex justify content-center">
          <p>-username</p>
        </div>
      </div>
    </div>
  </div>