<div class="row">
    <div class="display-flex-column justify-content-center col s4">
      <div class="card white z-depth-4">
        <div class="card-content white">
          <span class="card-title blue-gray-text">{{content}}</span>
        </div>
        <div class="card-action display-flex justify content-center">
                   <p>-{{user_id}}</p>
        </div>
      </div>
    </div>
  </div>