<div class="row">
    <div class="display-flex-column justify-content-center col s4">
      <div class="card blue-grey">
        <div class="card-content blue-grey">
          <span class="card-title">{{content}}</span>
          <p>{{content}}</p>
          <p>-{{user_id}}</p>
        </div>
        <div class="card-action display-flex justify content-center">
          <a href="#">Like</a>
          <a href="#">Dislike</a>
        </div>
      </div>
    </div>
  </div>
