<!-- Creates a large card in materialize -->
<div class="card medium">
  <div class="card-image">
    <img src="{{image}}" />
    <span class="card-title"><i class="material-icons">playlist_play</i>
      {{name}}</span>
    <div class="right">
        <a href="#"><i class="material-icons icon-blue">star_border</i></a>
    </div>
  </div>
  <div class="card-content">
    <p>Playlist Data Goes Here</p>
  </div>
  <div class="card-action .left-align">
    <a href="#"><i class="material-icons">thumb_up</i> {{upvotes}}</a>
    <a href="#"><i class="material-icons">comment</i> {{comments}}</a>
    <!-- Modal Trigger -->
    <button class="waves-effect waves-light btn comment-modal-trigger btn-floating btn-large waves-effect waves-light teal right" data-target="modal1"><i class="material-icons">insert_comment</i></a>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Add a comment</h4>

        <div class="row">
          <form class="col s12">
            <div class="row modal-form-row">
            <div class="row">
              <div class="input-field col s12">
                <textarea
                  id="image_description"
                  type="text"
                  class="materialize-textarea validate"
                ></textarea>
                <label for="image_description">What do you think?</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat submit">Submit</a>
      </div>
    </div>
  </div>
</div>
</script>
<script src='/js/comments.js'></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-2.1.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"
    ></script>
    
  </body>
</div>