<!-- Creates a large card in materialize -->
<div class="card medium">
      <span class="card-title">{{name}}</span>
  <div class="card-image">
    <!-- figure out how to get image from spotify? <img src="xxxx.jpg"> -->
    <!-- Contains the playlist name as the card title -->
    <img src="{{image}}" />
  </div>
  <div class="card-content">
    <p>{{tracks}} dope tracks</p>
    <p>{{description}}</p>
  </div>
</div>