<!-- Creates a large card in materialize -->
<div class="card medium spotify">
    <span class="card-title">
      <h5>PLAYLIST</h5>
      {{name}}
    </span>
  <div class="card-image">
    <!-- figure out how to get image from spotify? <img src="xxxx.jpg"> -->
    <!-- Contains the playlist name as the card title -->
    <img src="{{image}}" />
  </div>
  <div class="button">
      <a class="btn-floating"><i class="material-icons">add</i></a>
  </div>
  <div class="card-content">
    <p>{{tracks}} dope tracks</p>
    <p>{{description}}</p>
  </div>
</div>