<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PlaySpace</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&family=Roboto&display=swap" rel="stylesheet"> 
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/playlists.css">
</head>

<body style>
  <header class='display-flex justify-space-between align-center'>
    <nav>
      <div class='container'>
        <div class='nav-wrapper'>
          <a href='/' class='brand-logo right'>PlaySpace</a>
          <div class='row'>
            <ul class="left hide-on-med-and-down">
                    {{#if logged_in}}
                      <button class="waves-effect waves-light btn" id="profile"><li><a href="/profile">Profile</a></li></button>
                      <button class="waves-effect waves-light btn" id="logout">Log Out</button>
                      {{else}}
                      <button class="waves-effect waves-light btn"><li><a href="/login">Log In</a></li></button>
                    {{/if}}
              </ul>
          </div>  
        </div>
      </div>
    </nav>
  
  
  </header>
  {{!-- <div class='container'>


              <div class="col s12 justify-space-around">
                <header class="display-flex justify-space-between align-center p-2">
                    <nav>
                      <div class="nav-wrapper">
                        <a href="/homepage" class="brand-logo right">PlaySpace</a>
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        <ul class="left hide-on-med-and-down">
                          {{#if logged_in}}
                              <button class="waves-effect waves-light btn" id="profile"><li><a href="/profile">Profile</a></li></button>
                              <button class="waves-effect waves-light btn" id="logout">Log Out</button>
                              {{else}}
                                <button class="waves-effect waves-light btn"><li><a href="/login">Log In</a></li></button>
                          {{/if}}
                        </ul>
                      </div>
                    </nav>
                    
                    {{!-- {{#if logged_in}} --}}
                      {{!-- <ul class="sidenav" id="mobile-demo">
                          <li><a href="/profile" id='profile'>profile</a></li>
                          <li><a href='/' id='logout'>logout</li>
                          {{!-- {{else}} --}}
                      {{!-- </ul>
                    {{/if}} --}}

                {{!-- </header> --}}
                <main class="container container-fluid mt-5">
                  <!-- Render the sub layout -->
                  {{{ body }}}
                </main>
                <footer>
                  
                </footer>
              </div>

              <!-- Render script for logged in users only -->
              {{#if logged_in}}
              <script src="/js/logout.js"></script>
              <script src='/js/index.js'></script>
              {{/if}}
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <scirpt src='https://code.jquery.com/jquery-3.2.1.min.js'></scirpt>
  </div>
</body>
</html>