<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PlaySpace</title>
  <link rel="stylesheet" href="/css/jass.css">
  
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body style>
  {{!-- header with logo display and dynamic button links / hidden side navigation --}}
  <header class='display-flex justify-space-between align-center'>
    <nav>
      <div class='container'>
        <div class='nav-wrapper'>
          <a href='/' class='brand-logo right'>PlaySpace</a>
          <div class='row'>
            <ul class="left hide-on-med-and-down">
                    {{#if logged_in}}
                      <button class="waves-effect waves-light btn" id="profile"><li><a href="/profile">Profile</a></li></button>
                      <button class="waves-effect waves-light btn" id="logout">Log Out</button>
                      {{else}}
                      <button class="waves-effect waves-light btn"><li><a href="/login">Log In</a></li></button>
                    {{/if}}
              </ul>
          </div>  
        </div>
      </div>
    </nav>
  
  {{#if logged_in}}
    <ul id="slide-out" class="sidenav">
    <li>
      <div class="user-view">
        <div class="background">
          <img src="images/office.jpg">
        </div>
        <a href="#user"><img class="circle" src=""></a>
        <a href="#name"><span class="black-text name">user name here</span></a>
        <a href="#email"><span class="black-text email">spotify account link</span></a>
      </div>
    </li>

    <li><a href="/profile"><i class="material-icons">music_note</i>My Profile</a></li>
    <li><button class="waves-effect waves-light btn" id='logout'><i class='material-icons'>eject</i> logout</button></li>
    
    
    
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="btn sidenav-trigger"><i class="material-icons">menu</i></a>
{{/if}}

  
  </header>

                <main class="container container-fluid mt-5">
                  <!-- Render the sub layout -->
                  {{{ body }}}
                </main>
                <footer>
                  
                </footer>
              </div>

              <!-- Render script for logged in users only -->
              {{#if logged_in}}
              <script src="/js/logout.js"></script>
              <script src='/js/index.js'></script>
              {{/if}}
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  

        <script>
           document.addEventListener('DOMContentLoaded', function(){
             var side=document.querySelectorAll('.sidenav');
             M.Sidenav.init(side)
           })
        </script>

  </div>
</body>
</html>