{{#each playlists as |playlist|}}
<div class="row mb-4">
    <div class="col-md-5">
        <div class='playSpace-container'>
            <div class='card-header col-md-10'>
            <h3>
                Welcome to PlaySpace
            </h3>
        </div>
            <div class='playlist col-md-5'>
                <p>
                    {{playlist.id}}
                </p>
       </div>
        </div>
    </div>
</div>
{{/each}}