<div class="card small">
{{name}}
{{email}}
</div>
<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="assets/images/record.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="assets/images/record.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="assets/images/record.jpg"></a>
</div>