<div class="spotify-container">
  <H4>Select the playlists you want to share:</H4>

  <div class="spotify-playlist-wrapper">
  {{#each playlists as |playlist|}}
    {{>spotify-playlist-details}}
  {{/each}}
  </div>
</div>