.container.container-fluid {
  background-color: #FFF;
  width: 100%;
  padding: 24px 3em;
}

.user_name {
  color: var(--tertiary);
}

#spotify-title {
  width: 60%;
}

.spotify-container {
  position: relative;
}

.spotify-done {
  right: 0;
  top: 2.6rem;
  position: absolute;
}

.spotify.card {
  position: relative;
  flex: 1 0 21%;
  margin-right: 16px;
  border-radius: 24px;
}

.card-image {
  max-height: 70% !important;
  border-radius: 22px 22px 0px 0px;
}

.spotify.card .card-image img {
  opacity: .75;
}

.spotify.card .card-title {
  background: rgb(255,255,255);
  background: linear-gradient(360deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 42%, rgba(255,255,255,1) 64%, rgba(255,255,255,1) 90%);
  display: block;
  position: absolute;
  z-index: 1;
  top: 0px;
  font-size: 180%;
  width: 100%;
  padding: 22px 0px 35px 24px;
  font-family: 'Raleway', sans-serif;
  max-height: 1000px;
  overflow: hidden;
  font-weight: 600 !important;
  border-radius: inherit;
}



.spotify.card .card-title h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 60%;
  margin: 0px 0px 5px 0px;
}

.spotify-playlist-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.spotify.card .card-content {
  position: relative;
}

.spotify.card .card-content .track-count {
  background-color: #C9F374;
  color: #080124;
  display: inline-block;
  font-family: 'Source sans pro';
  font-size: 70%;
  padding: 3px;
}

.spotify.card .card-content p {
  position: relative;
  margin: 0px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.spotify.card .button {
  background-color: rgba(0,0,0, .0);
  position: absolute;
  z-index: 12;
  top: 20px;
  right: 14px;
}

.spotify.card .button .btn-floating.add {
  background-color: #B6E852;
}
.spotify.card .button .btn-floating.add i {
  color: #080124;
}
.spotify.card .button .btn-floating.remove {
background-color: #E8429B;
}
.spotify.card .button .btn-floating:hover i {
  color: white;
}
.spotify.card .button .btn-floating:hover {
  background-color: rgba(6,14, 54, 1.0);
  transition: all .2;
}

.spotify.card .card-action {
  border-radius: 0px 0px 22px 22px;
}

#my-playlist {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}