.container.container-fluid {
  background-color: #FFF;
  width: 100%;
  padding: 24px 3em;
}

.user_name {
  color: var(--tertiary);
}

#spotify-title {
  width: 60%;
}

.spotify-container {
  position: relative;
}

.spotify-container h4 {
  font-size: 1.8rem;
}

.spotify-done {
  right: 0;
  top: .5rem;
  position: absolute;
}

.spotify.card {
  position: relative;
  flex: 1 0 21%;
  margin-right: 16px;
  border-radius: 24px;
  width: 6rem;
  overflow:hidden;
}

.spotify.card .card-image {
  position: absolute;
  width: 150%;
  height: 120% !important;
  max-height: 120% !important;
  opacity: .75;
  filter: grayscale(40%) brightness(1.3);
  background-size: cover;
}

.spotify.card:hover .card-image {
  opacity: 1;
  filter: grayscale(0%) brightness(1);
  transition: ease-in-out all .7s;
}

.spotify.card .card-title {
  background: rgb(255,255,255);
  background: linear-gradient(360deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 42%, rgba(255,255,255,1) 64%, rgba(255,255,255,1) 90%);
  display: block;
  position: absolute;
  z-index: 1;
  top: 0px;
  font-size: 180%;
  width: 100%;
  padding: 22px 0px 35px 24px;
  font-family: 'Raleway', sans-serif;
  max-height: 1000px;
  overflow: hidden;
  font-weight: 600 !important;
  border-radius: 22px 22px 0 0;
}

.spotify.card .card-title h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 60%;
  margin: 0px 0px 5px 0px;
}

.spotify-playlist-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.spotify.card .card-content {
  position: relative;
}

.spotify.card .card-content .track-count {
  background-color: #C9F374;
  color: #080124;
  display: inline-block;
  font-family: 'Source sans pro';
  font-size: 70%;
  padding: 3px;
}

.spotify.card .card-content p {
  position: relative;
  margin: 0px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.spotify.card .button {
  background-color: rgba(0,0,0, .0);
  position: absolute;
  z-index: 12;
  top: 20px;
  right: 14px;
}

.spotify.card .button .btn-floating.add {
  background-color: #B6E852;
}
.spotify.card .button .btn-floating.add i {
  color: #080124;
}
.spotify.card .button .btn-floating.remove {
background-color: #E8429B;
}
.spotify.card .button .btn-floating:hover i {
  color: white;
}
.spotify.card .button .btn-floating:hover {
  background-color: rgba(6,14, 54, 1.0);
  transition: all .2;
}

.spotify.card .card-action {
  border-radius: 0px 0px 22px 22px;
  display: flex;
  justify-content: space-between;
}

.spotify.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
 margin-right: 8px;
 color: #E8429B;
 font-size: 1rem;
}
.spotify.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  margin-right: 8px;
  color: var(--dark);
  font-size: 1rem;
 }
.spotify.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) i {
  font-size: 1.2rem;
}
.spotify.card .material-icons {
  vertical-align: text-bottom;
}

.spotify.card .detail-link {
  font-size: inherit;
  color: var(--dark);
}

.spotify.card .detail-link:hover {
  font-size: inherit;
  color: var(--tertiary);
  transition: color .3s;
}

#my-playlist {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#list-details table {
  table-layout: fixed;
}

#list-details table td, #list-details table th {
  width: 20%;
}

#list-details table td, #list-details table th:nth-child(1) {
  width: 4%;
}