:root {
    --primary: #4b917d;
    --secondary: hsl(77, 88%, 68%);
    --tertiary: #f037a5;
    --quatrinary: #4b917d;
    --light: #ffffff;
    --dark: #000000;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--quatrinary);
  }
  
  header {
    padding: 40px;
    text-align: center;
    background: var(--primary);
    color: var(--secondary);
    border-bottom-style: solid;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
  aside {
    flex: 0;
    background-color: var(--tertiary);
    padding: 80px;
    text-align: left;
    color: var(--light);
  }
  
  nav {
    display: flex;
    background-color: var(--secondary);
  }

  #playspace-logo{
    position: relative;
    top: 2px;
    height: 60px;
    
  }